.super-mario {
    width: 200px;
    position: absolute;
    z-index: 0;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  float: left;
  position: absolute;
  top: 400px;
  width: 150px;
  z-index: 2;
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    top: 420px;
    left: 120px;
    font-size: 12px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 250px;
    z-index: 1;
  }